<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.codex.flipdeck">
    <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:allowBackup="false" android:icon="@drawable/icon_bitmap" android:label="Flip Deck" android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuickHomeActivity" android:label="Flip Deck Home" android:icon="@drawable/icon_bitmap" android:exported="true" android:screenOrientation="portrait">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".QuickToolsActivity" android:label="Flip Deck Tools" android:icon="@drawable/icon_bitmap" android:exported="true" android:screenOrientation="portrait">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".QuickAppsActivity" android:label="Flip Deck Tasks" android:icon="@drawable/icon_bitmap" android:exported="true" android:excludeFromRecents="true" android:noHistory="true" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".VoiceActivity" android:label="Voice Type" android:exported="false" android:screenOrientation="portrait" />
        <service android:name=".RecentsService" android:label="Flip Deck shortcuts" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/recents_service" />
        </service>
    </application>
</manifest>
